body{
    font-family: 'Big Shoulders Display', cursive;
    width: 100%;
    background-image: url("art-gallery-website/art-gallery-website/starter-code/assets/mobile/image-map@2x.png");
    background-size: 100% auto;
    background-position: center 0;
    background-repeat: no-repeat;
}

header{
    height: 550px;
}

main{
    background-color: #151515;
    padding: 48px 16px;
}

footer{
    background-color: #D5966C;
    padding: 48px 32px;
}

.back-home{
    width: 260px;
    height: 72px;
    background-color:#151515;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.arrow-div{
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    max-width: 260px;
}

/* text */

.back-home h2{
    color: white;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.64px;
    text-transform: uppercase;
    width: 208px;
    text-align: center;
}

main h1{
    color: white;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    margin-bottom: 48px;
    text-transform: uppercase;
}

main h3{
    color: #D5966C;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

p{
    color: white;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Outfit', sans-serif;
}

#usa{
    margin-bottom: 20px;
}

.description{
    color: #151515;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 38px;
}

#footer-svg{
    width: 110px;
    height: 40px;
    margin-bottom: 38px;
}

.icon-container{
    display: flex;
    gap: 20px;
}

a, a:hover, a:active, a:visited, a:link {
    text-decoration: none;
}

@media (min-width: 720px){
    body{
        background-image: url('./art-gallery-website/art-gallery-website/starter-code/assets/tablet/image-map@2x.png');
        background-size: 100% auto;
    }

    header{
        height: 600px;
    }

    main{
        display: flex;
        padding: 40px;
        justify-content: space-between;
    }

    main h1{
        width: 30%;
    }

    main div {
        width: 398px;
    }

    footer{
        display: flex;
        justify-content: space-between;
        
    }   

    footer p{
        width: 281px;
        height: 104px;
        margin: 0;
    }
}

@media (min-width: 1024px){
    body{
        background-image: url('art-gallery-website/art-gallery-website/starter-code/assets/desktop/image-map@2x.png');
        background-size: auto 685px;
        
    }

    header{
        padding: 0 156px;
    }

    main{
        padding: 104px 165px;
    }

    main h1{
        font-size: 70px;
        line-height: 70px;
    }

    main div{
        width: 445px;
    }

    main div h3{
        font-size: 36px;
        line-height: 36px;

    }

    main div p{
        font-size: 22px;
        line-height: 32px;
    }

    /* desktop active */

    .back-home:hover{
        background-color:#D5966C;
    }

    .back-home:hover .arrow-div{
        background-color: #151515;
    }

    .icon-container svg:hover path{
        fill: #FFFFFF;
    }
}