body{
    background-color: #FCFAF9;
    font-family: 'Big Shoulders Display', cursive;
    width: 100%;
}

header{
    background-image: url("./art-gallery-website/art-gallery-website/starter-code/assets/mobile/image-hero.jpg");
    background-size: 375px 240px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

main{
    padding: 0 16px;
}

footer{
    background-color: #151515;
    padding: 32px;
}

/* text */

header h1{
    color: #151515;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    margin: 272px 0 32px 0;
}

p{
    color: #444444;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
    font-family: 'Outfit', sans-serif;
}

h2{
    color: white;
    font-weight: 800;
    font-size: 20px;
    
    line-height: 24px;
    letter-spacing: 3.64px;
    text-transform: uppercase;
    height: 24px;
    width: 204px;
}

.main-txt{
    margin: 25px 0 21px 0;
    color: #151515;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 900;
}

.last-div h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    line-height: 45px;
    text-transform: uppercase;
}

.last-div p{
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
    font-family: 'Outfit', sans-serif;
    width: 100%;
    margin-top: 24px;
}

footer p{
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    
    font-family: 'Outfit', sans-serif;
}

/* div */

#location{
    display: flex;
    width: 260px;
    height: 72px;
    background-color: #151515;
    text-align: center;
    align-items: center;
    margin-bottom: 120px;
}

.arrow-div{
    width: 56px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5966C;
}

.last-div{
    background-color: #151515;
    width: 100%;
    max-width: 295px;
    height: 197px;
    padding: 48px 24px;
    margin-bottom: 120px;
}

.icon-container{
    display: flex;
    gap: 20px;
}

/* image */

.image-grid-1{
    width: 343px;
    height: 320px;
}

.image-grid-2{
    width: 343px;
    height: 480px;
    margin-bottom: 16px;
}

.image-grid-3{
    width: 343px;
    height: 200px;
    margin-bottom: 16px;
}

.footer-svg{
    width: 110px;
    height: 40px;
    margin-bottom: 38px;
}



a, a:hover, a:active, a:visited, a:link {
    text-decoration: none;
}