body{
    background-color: #FCFAF9;
    font-family: 'Big Shoulders Display', cursive;
    width: 100%;
}

header, main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

header{
    background-image: url("./art-gallery-website/art-gallery-website/starter-code/assets/mobile/image-hero.jpg");
    background-size: 400px 240px;
    background-repeat: no-repeat;
    background-position: center 0;
}

footer{
    background-color: #151515;
    padding: 32px;
}

/* text */

header h1{
    color: #151515;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    margin: 272px 0 32px 0;
}

p{
    color: #444444;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
    font-family: 'Outfit', sans-serif;
}

h2{
    color: white;
    font-weight: 800;
    font-size: 20px;
    
    line-height: 24px;
    letter-spacing: 3.64px;
    text-transform: uppercase;
    height: 24px;
    width: 204px;
}

.main-txt{
    margin: 25px 0 21px 0;
    color: #151515;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 900;
}

.last-div h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    line-height: 45px;
    text-transform: uppercase;
}

.last-div p{
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
    font-family: 'Outfit', sans-serif;
    width: 100%;
    margin-top: 24px;
}

footer p{
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    
    font-family: 'Outfit', sans-serif;
}

/* div */

#location{
    display: flex;
    width: 260px;
    height: 72px;
    background-color: #151515;
    text-align: center;
    align-items: center;
}

.arrow-div{
    width: 56px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5966C;
}

.last-div{
    background-color: #151515;
    width: 100%;
    max-width: 295px;
    height: 197px;
    padding: 48px 24px;
    margin-bottom: 120px;
}

.icon-container{
    display: flex;
    gap: 20px;
}

.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* image */

.image-grid-1{
    width: 343px;
    margin-top: 120px;
}

.image-grid-2{
    width: 343px;
    margin-bottom: 16px;
}

.image-grid-3{
    width: 343px;
    margin-bottom: 16px;
}

.footer-svg{
    width: 110px;
    height: 40px;
    margin-bottom: 38px;
}

a, a:hover, a:active, a:visited, a:link {
    text-decoration: none;
}

@media (min-width: 768px){
    header, main{
        display: flex;
        flex-direction: unset;
        padding: 0 39px;
    }

    header{
        background-image: url('art-gallery-website/art-gallery-website/starter-code/assets/tablet/image-hero@2x.jpg');
        background-size: 437px 700px;
        background-position: 0;
        flex-direction: unset;
        justify-content: end;
        align-items: unset;
        height: 700px;
        margin-bottom: 120px;
    }

    .header{
        width: 340px;
        margin-top: 145px;
    }

    header h1{
        color: #151515;
        font-weight: 900;
        font-size: 70px;
        line-height: 65px;
        text-transform: uppercase;
        margin: 0 auto 48px auto;
    }

    main{
        flex-direction: column;
    }

    .main-div{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .main-txt-div{
        width: 223px;
    }

    .image-grid-1{
        width: 343px;
        margin-top: 0;
    }
}