body{
    background-color: #FCFAF9;
    font-family: 'Big Shoulders Display', cursive;
    width: 100%;
    background-image: url("./art-gallery-website/art-gallery-website/starter-code/assets/mobile/image-hero.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

footer{
    background-color: #151515;
    padding: 32px;
}

/* text */



p{
    color: #444444;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
    font-family: 'Outfit', sans-serif;
}

h2{
    color: white;
    font-weight: 800;
    font-size: 20px;

    line-height: 24px;
    letter-spacing: 3.64px;
    text-transform: uppercase;
    height: 24px;
    width: 204px;
}

.main-txt{
    margin: 25px 0 21px 0;
    color: #151515;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 900;
}

.last-div h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    line-height: 45px;
    text-transform: uppercase;
}

.last-div p{
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
    font-family: 'Outfit', sans-serif;
    width: 100%;
    margin-top: 24px;
}

footer p{
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;

    font-family: 'Outfit', sans-serif;
}

/* div */

.last-div{
    background-color: #151515;
    width: 100%;
    max-width: 295px;
    height: 197px;
    padding: 48px 24px;
    margin-bottom: 120px;
}

.icon-container{
    display: flex;
    gap: 20px;
}

.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* image */

.grid1-mobile{
    width: 343px;
    margin-top: 120px;
}

.grid2-mobile{
    width: 343px;
    margin-bottom: 16px;
}

.grid3-mobile{
    width: 343px;
    margin-bottom: 16px;
}

.grid1-tablet, 
.grid1-desktop, 
.grid2-desktop,
.grid2-tablet, 
.grid3-desktop, 
.grid3-tablet{
    display: none;
}

.footer-svg{
    width: 110px;
    height: 40px;
    margin-bottom: 38px;
}

a, a:hover, 
a:active, 
a:visited, 
a:link {
    text-decoration: none;
}

@media (min-width: 720px){
    body{
        background-image: url('art-gallery-website/art-gallery-website/starter-code/assets/tablet/image-hero@2x.jpg');
        background-size: 437px auto;
        
    }
 
    main{
        display: flex;
        flex-direction: unset;
        padding: 0 39px;
    }

    main{
        flex-direction: column;
    }

    .main-div{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 11px;
    }

    /* gridbox start */

    .second-div{
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: 0.6fr 0.8fr;
        grid-column-gap: 11px;
        grid-row-gap: 11px;
    }

    .grid2-tablet{
        grid-area: 1 / 1 / 3 / 2;

    }

    .grid3-tablet{
        grid-area: 1 / 2 / 2 / 3;
    }

    .grid4{
        grid-area: 2 / 2 / 3 / 3;
    }

    /* gridbox end */

    .container{
        display: flex;
        flex-direction: column;
    }

    .grid1-mobile, 
    .grid2-mobile, 
    .grid3-mobile {
        display: none;
    }

    .grid1-tablet, 
    .grid2-tablet, 
    .grid3-tablet{
        display: unset;
    }

    .grid1-tablet{
        width: 398px;
        height: 400px;
    }

    .grid2-tablet{
        width: 100%;
        height: 100%;
    }

    .grid3-tablet{
        width: 100%;
        height: 100%;
    }

    .grid4{
        max-width: unset;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .last-div h1, 
    .last-div p{
        margin: 0 29px 16px 29px;
        width: unset;
    }

    footer{
        margin-top: 120px;
        display: flex;
        justify-content: space-between;
        padding: 56px 39px;
    }

    footer p{
        width: 281px;
        height: 104px;
    }
}

/* desktop version */

@media (min-width: 1024px){
    body{
        background-image: none;        
    }
   
    main{
        margin: 165px;
    }

    .main-div{
        gap: 125px;
        margin-bottom: 30px;
    }

    .second-div{
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .grid1-desktop{
        display: unset;
        width: 60%;
    }

    .grid2-desktop{
        display: unset;
        width: 100%;
        height: 100%;
        grid-area: 1 / 1 / 3 / 2;
    }

    .grid3-desktop{
        display: unset;
        width: 100%;
        height: 100%;
        grid-area: 1 / 2 / 2 / 3;
    }

    .grid4{
        max-width: unset;
        width: 100%;
        height: 100%;
        grid-area: 2 / 2 / 3 / 3;
    }

    .grid1-tablet, 
    .grid2-tablet, 
    .grid3-tablet{
        display: none;
    }

    footer svg path:hover{
        fill: #D5966C;
    }

    header{
        display: flex;
        position: relative;
    }

    .header2{
        max-width: 350px;
        position: absolute;
        left: 925px;
        top: 190px;
        
    }

    .header{
        width: 990px;
        height: 800px;
        position: relative;
    }

    .background{
        width: 100%;
        height: 100%;
        background-color: black;
        background-image: url("art-gallery-website/art-gallery-website/starter-code/assets/desktop/image-hero@2x.jpg");
        background-repeat: no-repeat;
        background-position: right;
        background-size: 540px 800px;

    }

    .text{
        width: 825px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 96px;
        background-image: linear-gradient(270deg, black 0%,  black 540px, white 540px, white 990px);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-left: 165px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        line-height: 88px;
        font-weight: 900;
    }

    .location{
        width: 260px;
        height: 72px;
        background-color:#151515;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .arrow-div{
        width: 56px;
        height: 72px;
        background-color: #D5966C;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a{
        max-width: 260px;
    }

    .location:hover{
        background-color: #D5966C;
    }

    .location:hover .arrow-div{
        background-color: #151515;
    }
}